@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Space-Mono;
  src: url(../Fonts/Space_Mono/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: Space-Mono-Bold;
  src: url(../Fonts/Space_Mono/SpaceMono-Bold.ttf);
}

:root{
  --bgColor: hsl(185, 41%, 84%);
  --white: hsl(0, 0%, 100%);
  --bgInput: hsl(189, 41%, 97%);
  --textColor: hsl(184, 14%, 56%);
  --buttonBg: hsl(183, 100%, 15%);
  --totalBg: hsl(183, 100%, 15%);
  --totalNumber: hsl(172, 67%, 45%);
  --dark: hsl(186, 14%, 43%);
  --error: hsl(0, 100%, 50%);
  --hover: hsl(173, 61%, 77%);
}


